<div id="sidebarmenu">
  <%  if current_user %>
   <div style="float: right;" >
  <%= link_to "Sign out", destroy_user_session_path %>
    </div>
    <div style="float: left;" >
  <%= link_to "My communities", my_communities_path %>

  <%= link_to "All communities", communities_path %>

  <%= link_to "Profile", edit_profile_path %>   
 </div>
  <% else %>
       <div style="float: right;">
    <%= link_to "Login", new_user_session_path %>
        </div>
  <%end%>
      
  <div style=" clear: both;">
  </div>
</div>